body {
    margin: 0;
    padding-top: 600px;
    text-align: center;
    }
    
    .profile {
    border-radius: 50%;
    }
    
    #welcome {
    position: absolute;
    bottom: 0;
    background: linear-gradient(#60c4eb 0%, #0eebc6 100%);
    display: table;
    width: 100%;
    height: 600px;
    }
    
    h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
    }
    
    #name {
    font-size: 50px;
    font-family: cursive;
    }
    
    h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
    }
    
    .menu {
    position: fixed;
    top: 0px;
    z-index: 10;
    cursor: pointer;
background: white;
width: 100%;
    }
    .links {
    display: inline;
    padding-left: 33px;
    padding-right: 33px;
    font-family: fantasy;
    font-size: 20px;
    }

.links:hover {
font-size: 25px;
text-decoration: underline;
}
    
    #bio {
    }
    